@model Health_Insurance_Management_System.Models.Request

@{
    ViewData["Title"] = "myPolicy";
    Layout = "~/Views/Shared/_Employee.cshtml";
}
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
<h1>myPolicy</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCompany.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policy.PolicyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestId">Edit</a> |
    <a asp-action="CancelRequest" asp-route-id="@Model?.RequestId">Cancel Request</a> |
    <a asp-action="DeleteRequest" asp-route-id="@Model?.RequestId">Delete Request</a> |
    <a asp-action="Index">Back to List</a>
</div>
        </div>
    </div>
</div>